body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 320px;
}


div.a {
  font-size: 15px;
}

div.b {
  font-size: large;
}

div.c {
  font-size: 150%;
}
pre {
   font-family: "courier new", courier, monospace;
   font-size: 11px; 
   font-weight: bold;
}


.track-ctrl > div {
  display: inline;
}
.track-ctrl * {
  vertical-align: middle;
}