
<footer class="footer">

  <p class="footer-motto" style="color: white; font-weight: bold;"><i class="fa fa-fort-awesome" aria-hidden="true"></i> WebexMeet  Chat App <i class="fa fa-fort-awesome" aria-hidden="true"></i>
  </p>

  <p class="footer-links">

    <table>
    <tr>
     <a href="https://github.com/akumrao/mediaserver" target="_blank">View Source code In Github Repo</a>. 
    </tr>
    <tr>
     <a href="https://github.com/akumrao" target="_blank">Visit My Github Profile</a> .
    </tr>
    <tr>
     <a href="mailto:akumrao@yahoo.com" target="_blank">Contact</a>.
    </tr>
    </table>
  </p>


</footer>

<!-- js files -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/socket.io-1.7.3.js"></script>
